
.App{
  background: url('https://cdn.wallpapersafari.com/70/39/wMlRhO.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh
}
.home{
  
  height: 100vh;

}
